@page
@model RazorPagesVideoGameDB.Pages.VideoGame.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VideoGameModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VideoGameModel.Id" />
            <div class="form-group">
                <label asp-for="VideoGameModel.GameTitle" class="control-label"></label>
                <input asp-for="VideoGameModel.GameTitle" class="form-control" />
                <span asp-validation-for="VideoGameModel.GameTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGameModel.ReleaseYear" class="control-label"></label>
                <input asp-for="VideoGameModel.ReleaseYear" class="form-control" />
                <span asp-validation-for="VideoGameModel.ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGameModel.Platform" class="control-label"></label>
                <input asp-for="VideoGameModel.Platform" class="form-control" />
                <span asp-validation-for="VideoGameModel.Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGameModel.Publisher" class="control-label"></label>
                <input asp-for="VideoGameModel.Publisher" class="form-control" />
                <span asp-validation-for="VideoGameModel.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGameModel.CompleteCopy" class="control-label"></label>
                <input asp-for="VideoGameModel.CompleteCopy" class="form-control" />
                <span asp-validation-for="VideoGameModel.CompleteCopy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGameModel.PhysicalCopy" class="control-label"></label>
                <input asp-for="VideoGameModel.PhysicalCopy" class="form-control" />
                <span asp-validation-for="VideoGameModel.PhysicalCopy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
